// -------------------------------------
// ★ Variables
// -------------------------------------
@import "mixins"; // Custom mixins, functions, etc

// Colors
$colorMain: #696969;

$colorBurgandy: #926d7e;
$colorOlive: #dae0d6;
$colorWhite: #fdfdfd;
$colorBlue: #b8bbcc;
$colorPink: #e4c2c0;
