// -------------------------------------
// ★ HEADER
// -------------------------------------
.header {
  background: url(../images/hero-bg.jpg) no-repeat top center;
  background-size: cover;
  padding: 0px;
  header { @include clearfix; margin-bottom: 50px; }
  .logo {
    margin-top: 30px;
    @include size(165px 61px);
    float: left;
    svg {
      * { fill: $colorWhite; }
    }
  }

  .primary-nav {
    float: right;
    margin-top: 50px;
    & > a {
      padding: 0 15px; 
      font-weight: 600;
      text-transform: uppercase;
      &:last-child { padding-right: 0; }
      @include killios;
    }
  }

  // Hero
  .hero {
    text-align: center;
    padding-bottom: 30px;
  }
  .h-hero, .h-hero-alt {
    font: {
      weight: 600;
      size: 48px;
    }
    color: $colorWhite;
    padding-bottom: 25px;
    @include transition(all .5s ease-out);
  }
  .h-hero-alt { text-transform: uppercase; margin-top: 30px; }
  .c-hero { color: $colorWhite; padding: 0 200px; }
  .contact-trigger {
    position: relative;
    color: $colorWhite;
    font-weight: 600;
    text-transform: uppercase;
    @include killios;
    &:hover {
      color: $colorOlive;
    }
    &:before, &:after {
      content: "";
      @include position(relative, -3px null null null);
      display: inline-block;
      background: $colorWhite;
      @include size(100px 1px);
    }
    &:before { right: 10px; }
    &:after { left: 10px; }
  }

  // Responsive
  @include gridle_state(tablet) { 
    .c-hero { padding: 0 90px; } 
    .logo { padding-left: 20px;  }
    .primary-nav { padding-right: 20px;  }
  }
  @include gridle_state(mobile) { 
    .primary-nav {
      display: none;
      float: none; 
      width: 100%;
      margin: 0;
      & > a {
        text-align: center;
        display: block;
        padding: 10px 0 !important;
      }
    }
    .h-hero { margin-top: 30px; }
    .c-hero { padding: 0 30px; } 
  }
  @include gridle_state(mobile-small) { .c-hero { padding: 0; } }
}

// -------------------------------------
// ★ FOOTER NAVIGATION
// -------------------------------------
.footer-nav {
  @include position(fixed, null 20px 20px null);
  padding: 10px 30px 10px 10px;
  width: 120px;
  background: $colorMain;
  border-radius: 5px;
  @include transform(scale(0));
  @include transform-origin(100% 100%);
  @include transition(transform .3s, visibility .3s);
  @include killflicker;
  &.is-visible {
    visibility: visible;
    @include transform(scale(1));
    @include transition(transform .3s, visibility .3s);
  }
  a {
    display: block;
    padding: 10px;
    font-size: 16px;
    color: $colorWhite;
    @include killios;
  }
}
.navTrigger {
  @include position(fixed, null 20px 20px null);
  @include size(44px);
  background: $colorMain;
  border-radius: 5px;
  cursor: pointer;
  visibility: hidden;
  border: none;
  outline: none;
  z-index: 3;
  @include transform(scale(0));
  @include transition(transform .3s, visibility .3s);
  @include killflicker;
  @include killios;

  &.is-fixed {
    visibility: visible;
    @include transition(all 0s);
    @include transform(scale(1));
    @include animation(bounce-in .3s linear);
  }

  span {
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: $colorWhite;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;

    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      background: inherit;
      width: 100%;
      height: 100%;

      @include transform(translateZ(0));
      @include killflicker;
      @include transition(transform .3s, background 0s);
    }
    &:before, &:after { @include transform(rotate(0)); }
    &:before { top: -6px; }
    &:after { bottom: -6px; }
  }

  &.menu-is-open span {
    background: rgba($colorWhite, 0);
    &:before, &:after { background: rgba($colorWhite, 1); }
    &:before {
      top: 0;
      @include transform(rotate(135deg));
    }
    &:after {
      bottom: 0;
      @include transform(rotate(225deg));
    }
  }
}

@include keyframes(slide-in) {
  0% { @include transform(translateX(100px)); }
  100% { @include transform(translateY(0)); }
}

@include keyframes(bounce-in) {
  0% { @include transform(scale(0)); }
  60% { @include transform(scale(1.2)); }
  100% { @include transform(scale(1)); }
}

// -------------------------------------
// ★ WHO ARE WE?
// -------------------------------------
.about {
  aside {
    position: relative;
    figure {
      float: left;
    }
    h2 { margin-bottom: 10px; }
    h4 { margin-bottom: 15px; }
  }
}

// -------------------------------------
// ★ QUOTES
// -------------------------------------
.quotes {
  background: url(../images/quote-bg.jpg) no-repeat;
  background-size: cover;
  header { margin: 0; }
  
  .h-quote {
    font: {
      weight: 300;
      size: 60px;
    }
    line-height: 80px;
    color: $colorWhite;
  }
  .c-author {
    position: relative;
    font: {
      weight: 600;
      size: 14px;
    }
    color: $colorWhite;
    margin-top: 35px;
    &:before {
      content: "";
      @include position(absolute, -25px null null 50%);
      display: inline-block;
      @include size(7px);
      margin-left: -5px;
      background: rgba($colorOlive, .3);
      @include transform(rotate(45deg));
    }
  }

  // Responsive
  @include gridle_state(mobile) { 
    .h-quote {
      font-size: 18px;
      line-height: 26px;
      padding: 0 20px;
    }
    .c-author {
      font-size: 12px;
      margin-top: 30px;
      &:before {
        top: -17px;
      }
    }
  }
}


// -------------------------------------
// ★ OUR WORKS
// -------------------------------------
.our-work {

  padding-bottom: 0;

  .item, .grid-sizer {
    width: 20%;
  }
  .item {
    figure {
      img { display: block; width: 100%; }
    }
  }

  #worksFilters {
    text-align: center;
    margin-bottom: 60px;
    @include clearfix;
    @include killios;
  }

  .button {
    @include opacity(.6);
    &:hover { @include opacity(1); }
    &.is-checked { @include opacity(1); }
  }

  figure {
    overflow: hidden;
    img {
      @include transition(all 3s ease-out);
    }
  }

  #worksContainer {
    .item {
      background: $colorBurgandy;
      cursor: pointer;
      @include killflicker;
      @include killios;
      figure {
        @include transition(all .4s ease-out);
      }
      &:hover {
        figure { @include opacity(.2); }
        .info {
          @include opacity(1);
          @include transform(translateY(10px));
          .c-01 {
            @include transform(translateY(5px));
          }
        }
        img {
          @include transform(scale(1.2) rotate(5deg));
        }
      }
      .info {
        text-align: center;
        @include size(100%);
        @include position(absolute, 50% null null null);
        @include transition(all .4s ease-out);
        margin-top: -45px;
        @include opacity(0);

        .icon-eye {
          margin: 0 auto;
          @include size(50px 45px);
          svg * { fill: $colorWhite; }
        }
      }

      .copy { 
        color: $colorWhite;
        @include transition(all .4s ease-out);
        &.c-02 { text-transform: uppercase; } 
      }
    }
  }


  // Responsive
  @include gridle_state(tablet) { 
    .item, .grid-sizer {
      width: 33.3333%;
    }
  }
  @include gridle_state(mobile) { 
    .item, .grid-sizer {
      width: 50%;
    }
  }
  @include gridle_state(mobile-small) { 
    .button-set {
      display: block;
      float: left;
      width: 48%;
      margin: 0 1%;
    }
    .button {
      width: 100%;
      display: block;
      margin-bottom: 5px;
    }
  }

}


// -------------------------------------
// ★ MEET OUR TEAM
// -------------------------------------
.team {

  .h-03 {
    text-transform: uppercase;
    color: black;
    padding-top: 25px;
    margin-bottom: 10px;
  }
  .h-04 {
    color: $colorBlue;
    margin-bottom: 35px;
  }
  .c-01 {
    position: relative;
    margin-top: 35px;
    padding: 0 10px 25px 10px;
    &:before {
      content: "";
      @include position(absolute, -21px null null 50%);
      display: inline-block;
      @include size(7px);
      margin-left: -5px;
      background: rgba($colorOlive, .8);
      @include transform(rotate(45deg));
    }
  }
  figure {
    overflow: hidden;
    img {
      width: 100%;
      @include transition(all 4s ease-out);
    }
  }

  #teamContainer {
    @include clearfix;
  }

  .item {
    margin-bottom: 20px;
    @include gridle(3);
    @include killflicker;
    img { display: block; }
    .info {
      text-align: center;
      @include transition(all .4s ease-out);
    }

    &:hover {
      .info {
        background: rgba($colorMain, .1);
      }
      img {
        @include transform(scale(1.1) translateY(-5px));
      }
    }
  }

  @include gridle_state(mobile) { 
    .item { width: 50%; }
  }
  @include gridle_state(mobile-small) { 
    .item {
      width: 100%;
    }
  }

}


// -------------------------------------
// ★ TESTIMONIALS
// -------------------------------------
.testimonials {
  background: url(../images/testimonials-bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  figure {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    figcaption {
      .h-02 {
      @include position(absolute, 50% null null null);
        color: $colorWhite;
        span {
          padding-left: 5px;
          color: $colorPink;
          font-weight: 300;
        }
      }
    }

    img {
      position: relative;
      border-radius: 300px;
      display: block;
      margin: 0 auto;
      @include transition(all .4s ease-out);
      @include killflicker;
    }

    &:before, &:after {
      @include transition(all .3s ease-out);
    }

    &:before {
      @include opacity(0);
      content: attr(data-name);
      display: inline-block;
      @include position(absolute, 50% 45px null null);
      margin-top: -5px;
      width: 300px;
      text-align: right;
      color: $colorWhite;
      text-transform: uppercase;
      font: {
        family: $opensans;
        size: 14px;
        weight: 600;
      }
    }

    &:after {
      @include opacity(0);
      content: attr(data-employer);
      display: inline-block;
      @include position(absolute, 50% null null 45px);
      margin-top: -5px;
      width: 300px;
      text-align: left;
      color: $colorPink;
      text-transform: uppercase;
      font: {
        family: $opensans;
        size: 14px;
        weight: 300;
      }
    }

  }

  .h-04 {
    text-transform: none;
    color: $colorWhite;
    line-height: 24px;
    padding: 0 20px;
  }

  .testimonials-pager {
    margin-top: 25px;
    .swiper-pagination-switch {
      display: inline-block;
      @include size(10px);
      border-radius: 180px;
      background: none;
      border: 2px solid $colorPink;
      margin: 0 3px;
      cursor: pointer;
      @include box-sizing(border-box);
      @include transition(all .3s ease-out);
      &:hover {
        background: rgba($colorPink, .4);
      }
    }

    .swiper-active-switch {
      background: $colorPink;
    }
  }


  &:hover {
    img {
      @include transform(scale(.9));
    }

    figure:before {
      @include transform(translateX(-40px));
      @include opacity(1);
    }
    figure:after {
      @include transform(translateX(40px));
      @include opacity(1);
    }
  }

  // Responsive
  @include gridle_state(mobile) {
    figure {
      width: 100%;
      &:before, &:after {
        display: none;
      }
    }
    &:hover {
      img { @include transform(scale(1)); }
    }
  }
}



// -------------------------------------
// ★ CONTACT
// -------------------------------------
.contact {

  .half-col {
    .h-02 {
      margin-bottom: 15px;
    }
    .item {
      @include clearfix;
      .h-02 { color: $colorMain; padding-top: 15px; }
    }
    svg {
      @include size(44px);
      @include opacity(.2);
      float: left
    }
  }

  .input {
    input, textarea {
      width: 100%;
      background: none;
      outline: none;
      padding: 10px;
      border: 2px solid $colorOlive;
      border-radius: 0;
      margin-bottom: 10px;
      font: {
        family: $opensans;
        size: 12px;
        weight: 300;
      }
      line-height: 18px;
      color: $colorMain;
      @include box-sizing(border-box);
      @include transition(all .4s ease-out);
      @include appearance(none);
      // @include killios;
      &:focus {
        border: 2px solid $colorBlue;
      }
    }
    textarea {
      min-height: 120px;
    }
  }

  .button { @include killios; }

  .form-result {
    @include antialias;
    &.success {
      font: {
        family: $opensans;
        weight: 600;
        size: 12px;
      }
      color: $colorBlue;
      padding: 20px 0;
    }
    &.error {
      font: {
        family: $opensans;
        weight: 600;
        size: 12px;
      }
      color: $colorBurgandy;
      padding: 20px 0;
    }

    @include gridle_state(mobile-small) {
      &.error, &.success { font-size: 10px; }
    }
  }
}


// -------------------------------------
// ★ Map
// -------------------------------------
.footer {
  padding: 0;
  .g-map {
    position: relative;
    &:before {
      content: "";
      display: block;
      @include size(100% 19px);
      @include position(absolute, -10px null null null);
      z-index: 50;
      background: url(../images/hero-slide-bar.png) repeat-x;
    }
    &:after {
      content: "";
      display: block;
      @include size(100% 19px);
      @include position(absolute, null null -6px null);
      z-index: 50;
      background: url(../images/hero-slide-bar.png) repeat-x;
    }
  }
  #map { @include size(100% 400px); }

  .copyright { margin: 20px 0; }

  // Responsive
  @include gridle_state(mobile-small) {
    .copyright { font-size: 10px; text-align: center; }
  }
}


